#aboutMe {
    background-color:white;
    padding-bottom:10%;
    padding-top:5%;
}
#aboutText{
    text-align:center;
    font-size:150%;
}
#aboutImg {
    border: 10px solid transparent;
    border-radius: 50%;
}
#aboutImg:hover {
    border-color: #f1f1f1;
}
#ability {
    background-color:#f6f6f6;
    padding-top:10%;
    padding-bottom:10%;
}
#portfolio {
    background-color:white;
    padding-top:10%;
    padding-bottom:10%;
}
#contactMe {
    background-color:#f6f6f6;
    padding: 5% 5%;
}
.navbar {
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity:0.9;
}

/* Add a gray color to all navbar links */
.navbar li a, .navbar .navbar-brand { 
    color: lightslategrey !important;
}

/* On hover, the links will turn white */
.navbar-nav li a:hover {
    color: black !important;
}

/* The active link */
.navbar-nav li.active a {
    color: #fff !important;
    background-color:#29292c !important;
}

/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
    border-color: transparent;
}